.link {
  color: rgba(46, 46, 46, .8);
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

.postLink {
  text-decoration: none;
  color: rgb(53, 52, 52);
}

.cardContent:last-child {
  padding-bottom: 0;
}