.navlink {
    text-decoration: none;
    color: rgb(108, 101, 101);
    font-weight: 700;
    text-transform: capitalize;
}

.logoutIcon {
    width: 56px;
    display: flex;
    justify-content: left;
}