.post {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 10px;
}

.body {
	&__header {
		margin-bottom: 5px;
	}
	&__main {
		width: 350px;
	}
	&__footer {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
	}
}
.header {
	&__mainName {
		font-weight: 800;
		margin-right: 5px;
	}
	&__tagName {
		font-weight: 300;
		color: #737373;
		padding-right: 5px;
	}
	&__time {
		font-weight: 300;
		color: #737373;
		padding-left: 5px;
	}
}

.counter {
	font-size: 15px;
}
.main__twitte {
	word-wrap: break-word;
	white-space: pre-wrap;
}
