.root {
	position: relative;

	.input {
		width: 100%;
		padding: 1.25rem 1.15rem;
		margin-bottom: 2.5rem;
		font-size: 1.125rem;
		border-radius: 0.375rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		outline: none;
		&::placeholder {
			color: rgba(0, 0, 0, 0.6);
		}
		&:focus {
			border: 1px solid rgb(13, 118, 184);
		}
	}
	.error {
		position: absolute;
		top: 70%;
		left: 0;
		font-size: 0.975rem;
		color: red;
	}
	.errorIcon {
		position: absolute;
		top: 1.25rem;
		right: 1.15rem;
		font-size: 1.45rem;
		color: rgba(255, 0, 0, 0.822);
	}
	.successIcon {
		position: absolute;
		top: 1.25rem;
		right: 1.15rem;
		font-size: 1.45rem;
		color: rgb(13, 118, 184);
	}
}
