.customFileInput {
  display: none; /* Приховуємо стандартний input file */
}

.customFileLabel {
  display: inline-block;
  padding: 5px;
  // background-color: #ccc; /* Задайте бажаний колір фону */
  cursor: pointer;
}
