* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.active {
  font-size: 1.1rem;

  svg {
    font-size: 1.8rem;
  }
}

.css-lffope-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: rgb(255, 255, 255) !important;
  background-color: #90caf9 !important;
}
