{
	"parser": "@babel/eslint-parser",
	"extends": ["plugin:react/recommended"],
	"plugins": ["react"],
	"rules": {
		"no-trailing-spaces": ["error", { "skipBlankLines": true }],
		"no-return-assign": 0,
		"eol-last": 0,
		"react/no-unknown-property": ["off", { "ignore": ["data-testid"] }]
	},
	"parserOptions": {
		"requireConfigFile": false
	}
}
