<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<section class="container">
  <div class="mx-auto border my-5 py-3 px-3 form">
    <form action="#" th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="email">Почта</label>
        <input class="form-control" id="email" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" id="password" type="text" name="password">
      </div>
        <input class="button" type="submit" value="Вход"/>
        <a href="/login/google">Войти через Google</a>
      <div align="center">
      <a href="/registration">Регистрация нового пользователя</a>
      </div>
    </form>
  </div>
</section>
</body>
</html>