<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
<section class="container">
  <div class="mx-auto border my-5 py-3 px-3 form">
    <form action="#" th:action="@{/registration}" method="post">
      <div class="form-group">
        <label for="username">Имя</label>
        <input class="form-control" id="username" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" name="email">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" id="password" type="text" name="password">
      </div>
<!--      <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
      <input class="button" type="submit" value="Регистрация"/>
    </form>
  </div>
</section>
</body>
</html>