<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<section class="container">
  <div class="mx-auto border my-5 py-3 px-3 form">
    <form action="#" th:action="@{/registration}" method="post">
      <div class="form-group">
        <label for="firstName">Имя</label>
        <input class="form-control" id="firstName" type="text" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input class="form-control" id="lastName" type="text" name="lastName">
      </div>
      <div class="form-group">
        <label for="email">Почта</label>
        <input class="form-control" id="email" type="text" name="email">
      </div>
      <div class="form-group">
        <label for="birthday">Дата рождения</label>
        <input class="form-control" id="birthday" type="text" name="birthday">
      </div>
      <div class="form-group">
        <label for="avatar">Загрузите аватар</label>
        <input class="form-control" id="avatar" type="text" name="avatar">
      </div>
      <div class="form-group">
        <label for="mainFoto">Загрузите фотографию</label>
        <input class="form-control" id="mainFoto" type="text" name="mainFoto">
      </div>
      <div class="form-group">
        <label for="password">Придумайте пароль</label>
        <input class="form-control" id="password" type="text" name="password">
      </div>
<!--      <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
      <input class="button" type="submit" value="Регистрация"/>
    </form>
  </div>
</section>
</body>
</html>